<ion-header [translucent]="true">
    <ion-toolbar color="success">
        <ion-title>
            Your wishes to Logida sree
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <form [formGroup]="logiForm" (ngSubmit)="CreateRecord()">

        <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input formControlName="Name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Wish</ion-label>
            <ion-textarea rows="6" cols="20" formControlName="Wish"></ion-textarea>
        </ion-item>
        <div *ngIf="logiForm.controls.Wish.errors">
            <p>Genie:"Wish with 50 magical characters"</p>
        </div>


        <ion-button expand="block" color="success" (click)="CreateRecord()" [disabled]="logiForm.invalid">
            <ion-icon name="paper-plane-outline"></ion-icon>&nbsp; Send wish</ion-button>


    </form>

    <div class="image">
        <img src="../../assets/logi2.jpg">
    </div>




    <!--  <ion-card *ngFor="let item of wishList" color="primary">
      <span *ngIf="!item.isEdit; else elseBlock">
    <ion-card-header>
      <ion-card-title>{{item.Name}}</ion-card-title>
      <ion-card-subtitle>Wishes logidha... {{item.Wish}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
        <ion-icon size="small" slot="icon-only" name="create"></ion-icon>

      </ion-button>
      <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
        <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>

      </ion-button>
    </ion-card-content>
  </span>
      <ng-template #elseBlock>
          <ion-card-header>
              <ion-card-title>
                  <ion-grid>
                      <ion-row>
                          <ion-col>
                              Edit
                          </ion-col>
                          <ion-col>
                              <ion-button fill="solid" color="medium" size="small" (click)="item.isEdit = false">
                                  Cancel
                              </ion-button>
                          </ion-col>
                          <ion-col>
                              <ion-button fill="solid" color="success" size="small" (click)="UpdateRecord(item)">
                                  Update
                              </ion-button>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <ion-item>
                  <ion-label><strong>Name</strong></ion-label>
                  <ion-input type="text" [(ngModel)]="item.EditName"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label><strong>Address</strong></ion-label>
                  <ion-textarea type="text" [(ngModel)]="item.EditWish"></ion-textarea>
              </ion-item>
          </ion-card-content>
      </ng-template>
  </ion-card>

</ion-content> -->